*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(../image.0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    
}
nav{
    width: 100%;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    margin: auto;
}
nav .logo img{
    float: left;
    width: 200px;
    height: 150px;
    display: flex;
    text-align: center;
    
}
nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
nav .menu a {
    width: 25%;
    color: black;
    font-weight: bold;
    padding: 5px 20px;
    transition: 0.6s ease;
}
nav .menu a:hover{
    background-color: black;
    color: white;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section{
    top: 20%;
    left: 20%;
    transform: translate(-50%,-50%);
    color: black;
}
section h2{
    top: 20%;
    left: 20%;
    font-size: 50px;
    font-weight: 200;
}
section h3{
    font-size: 80px;
    font-weight: 300;
}
section p{
    font-size: 30px;
    font-weight: 200;
}
section a{
    padding: 12px 30px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s ease;
}
section .btn {
    font-size: 2rem;
    padding: 7rem 3rem;
    background: black;
    color: white;
    margin-top: 1rem;
    padding: 5px 15px;
    transition: 0.5s ease;
}
.btn:hover{
    background: green;
    color: white;
}
footer{
    width: 100%;
    height: 75vh;
    background-color: black;
    
}
footer .main-content{
    width: 100%;
    height: 20vh;
    color:white;
    
}
footer .main-content p{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-size: 35px;
    font-weight: 300;
}
footer .main-content h1{
    font-size: 35px;

}
footer .main-content ul{
    height: 20vh;
    font-size: 20px;
    justify-content: space-between;
}



